/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My CSS Styles */

@font-face {
    font-family: 'myFirstFont';
    src: url('./dalek/Dalek.ttf');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(247, 247, 247);
}

* {
    box-sizing: border-box;
}

#navbar {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 15px 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}

#navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#navbar-brand p {
    display: inline-block;
    font-family: 'myFirstFont';
    font-size: 1.3em;
    margin-left: 20px;
}

#navbar-burger {
    padding: 6px;
}

#navbar-burger:hover {
    border-radius: 5px;
    background-color: rgba(106, 114, 128, 0.2);
}

#navbar-burger:active {
    border: 2px solid gold;
    background-color: white;
}

.bar {
    width: 18px;
    height: 2px;
    margin: 4px 0;
    border-radius: 5px;
    background-color: rgba(106, 114, 128, .7);
}

#navbar-links a {
    text-decoration: none;
    color: rgba(88, 95, 109, .8);
    margin-left: 32px;
    font-weight: 600;
    font-size: 1.09em;
    letter-spacing: 0.5px;
}

#navbar-links a:hover {
    padding-bottom: 8px;
    color: rgba(0,0,0, .7);
    border-bottom: 2px solid rgba(106, 114, 128, 0.4);
}

#navbar-links a:last-child {
    border-bottom: none;
}


/* banner styling */
#banner-box {
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
}

#banner-heading {
    margin-bottom: 25px;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: rgb(206, 151, 61);
}

#banner-body {
    margin-bottom: 25px;
    font-size: 1.3em;
    letter-spacing: 0.1px;
    font-size: 300;
    color: rgba(105, 105, 105, .7);
}

#banner-link {
    color: rgba(105, 105, 105, .7);
    font-size: 1.1em;
}

#banner-link:hover {
    color: black;
    text-decoration: none;
}

.banner-button {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 18.5px 38px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0,0,0,.3);
    font-size: 1.05em;
    font-weight: 600;
    background-color: rgb(106, 191, 195);
    color: white;
    border: none;
}

.banner-button:hover {
    background-color: rgba(106, 191, 195, .8);
}

#infobox-one {
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

.info-header {
    font-size: 1.7em;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 60px;
}

.info-body {
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(105, 105, 105, .75);
    line-height: 1.5em;
    word-spacing: 0.15em;
    max-width: 540px;
    margin: 0 auto;
}


#infobox-two {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    column-gap: 40px;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: white;
}

.info-header-two {
    font-size: 1.4em;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
}

.infobox--two {
    align-self: flex-start;
}

.infobox--two img {
    height: 150px;
}

.spacer {
    width: 20vw;
}


/* Subject Box Styling */

.sub-box {
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 60px 0;
}

.sub-header {
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.3em;
    padding-bottom: 60px;
}

#sub-grid {
    max-width: max-content;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    column-gap: 32px;
    row-gap: 32px;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.sub-grid-item {
    background-color: white;
    padding: 20px 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.sub-grid-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.grid-img {
    height: 160px;
}

.grid-header {
    width: 160px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 1.25em;
    font-weight: 600;
}

#sub-button {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 18.5px 38px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0,0,0,.3);
    font-size: 1.05em;
    font-weight: 600;
    background-color: rgb(210, 155, 77);
    color: white;
    border: none;
}

#sub-button:hover {
    background-color: rgba(210, 155, 77, .8);

}

/* Review Box */

#rev-box {
    background-image: linear-gradient(white, rgb(223, 221, 221));
}

#rev-grid {
    padding: 40px 80px;
    max-width: max-content;
    margin: 0 auto;
    display: grid;
    column-gap: 32px;
    row-gap: 50px;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.rev-grid-item {
    text-align: start;
    max-width: 600px;
    height: max-content;
    display: flex;
    flex: row nowrap;
}

.rev-grid-img {
    width: 50px;
    border-radius: 25px;
    float: left;
    height: 100%;
    margin: 20px 30px;
}

.rev-grid-link {
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(206, 151, 61);
    line-height: 2em;
}

#rev-link {
    color: rgba(105, 105, 105, .75);
    font-size: 1.1em;
    display: block;
    margin-top: 5vw;
}

#rev-link:hover {
    color: black;
}

#rev-footer {
    margin-top: 80px;
}

#rev-footer h2 {
    font-size: 2.3em;
    font-weight: 300;
    color: rgb(105, 105, 105);
}

#rev-button {
    margin-top: 50px;
}


/* footer */
#footer {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#footer-row-one {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    padding: 15px 35px;
}

#footer-logo-box h3 {
    color: rgb(105, 105, 105);
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
}

#footer-brand {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#footer-brand p {
    display: inline-block;
    font-family: 'myFirstFont';
    font-size: 1.3em;
    margin-left: 20px;
}

#footer-social-logos {
    margin-top: 20px;
    display: flex;
    flex: row nowrap;
    gap: 60px;
}

.footer-logos a {
    font-size: 2.2em;
    color: rgba(42, 50, 64, .95);
}

.footer-logos a:hover {
    color: black;
}


#footer-form {
    height: 230px;
    width: 540px;
    padding: 40px 30px;
    background-color: rgba(222, 223, 228, 0.513);
    border-radius: 7px;
}

#footer-form-header {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
}

#footer-textbox {
    height: 55px;
    border: 1px solid rgb(203, 204, 207);
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    width: max-content;
}

#footer-textbox:focus-within {
    border: 2px solid blue;
}

#footer-input {
    border: none;
    width: 325px;
    height: 100%;
    padding: 0 15px;
    font-size: 1em;
    color: rgb(173, 173, 174);
}

#footer-input:focus {
    outline: none;
}

#footer-button {
    width: 150px;
    height: 100%;
    background-color: rgb(106, 191, 195);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

#footer-button:hover {
    background-color: rgba(106, 191, 195, .8);
}

#row-two-header {
    font-size: 1.13em;
    color: rgb(179, 136, 70);
}

.row-two--link {
    text-decoration: none;
    display: inline-block;
    margin-left: 45px;
    margin-bottom: 20px;
    font-size: 1.13em;
    color: black;
}

.row-two--link:hover {
    color: rgba(57, 54, 54, 0.655);
}

/* media style */
@media (min-width: 765px) {
    #navbar-burger {
        display: none;
    }
}

@media (min-width: 625px) {
    #sub-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .sub-grid-item:nth-child(9) {
        grid-column: 1 / 3;
    }
}

@media (min-width: 920px) {
    #sub-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .sub-grid-item:nth-child(9) {
        grid-column: auto;
    }
}

@media (min-width: 1050px) {
    #rev-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (max-width: 765px) {
    #navbar-links {
        display: none;
    }

    #banner-heading {
        padding: 0 3vw;
    }

    #infobox-two {
        flex-direction: column;
        padding-top: 0;
    }

    .infobox--two {
        margin-top: 30px;
        align-self: center;
    }

    .infobox--two img {
        height: 123px;
    }
}

@media (max-width: 1050px) {
    #navbar-brand p {
        display: none;
    }

    #footer {
        height: 300px;
    }

    #footer-row-one {
        flex-direction: column;
        align-items: center;
    }

    #footer-logo-box {
        display: none;
    }

    #footer-form {
        display: none;
    }

    #row-two-header {
        order: 1;
        margin: 10px auto;
    }

    #row-two-links {
        text-align: center;
    }
}



